version: "3.9"

services:
  app:
    container_name: ielts-moc-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4011:4011"
    environment:
      PORT: 4011
    volumes:
      - ./public/uploads:/app/public/uploads
    restart: unless-stopped
